<body>
<div id="container">

<div id="header">
<div id="header_title">
	<h1>Sample Site  title</h1>
	<p>ここにサブタイトル文が入ります</p>
</div>
</div>


<div id="contents">

<div id="main">
	<h2>最新投稿！</h2>
	<p>ここにコンテンツのテキストが入ります。ここにコンテンツのテキストが入ります。ここにコンテンツのテキストが入ります。ここにのテキストが入ります。ここにコンテンツのテキストが入ります。ここにコンテンツのテキストが入ります。ここにコンテンツのテキストが入ります。ここにコンテンツのテキストが入ります。ここにコンテンツのテキストが入ります。</p>
	<p>ここにコンテンツのテキストが入ります。ここにコンテンツのテキストが入ります。ここにコンテンツのテキストが入ります。ここにのテキストが入ります。ここにコンテンツのテキストが入ります。ここにコンテンツのテキストが入ります。ここにコンテンツのテキストが入ります。ここにコンテンツのテキストが入ります。ここにコンテンツのテキストが入ります。</p>
</div>


<div id="side_right">
<div class="menu">
 <ul>
  <li class="first-menu"><a href="#">TOP</a></li>	
  <li><a href="#">作品リスト</a></li>
  <li><a href="#">Menu 03</a></li>
  <li><a href="#">Menu 04</a></li> 
 </ul>
</div>
</div>

</div>

</div><!-- / container-->

</body>
</html>
